GEMINI_API_KEY=key_goes_here
GEONAMES_USERNAME=username_goes_here
ASTROWAY_API_KEY=key_goes_here


# example:
# DATABASE_URL=jdbc:mysql://localhost:3307/somniazodiaca?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_URL=url_goes_here

DATABASE_USERNAME=username_goes_here
DATABASE_PASSWORD=password_goes_here
DATABASE_ROOT_PASSWORD=root_password_goes_here

# APP_UPLOAD_DIR=uploads/profiles
APP_UPLOAD_DIR=directory_goes_here