<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Social - Somnia Zodiaca</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/responsive.css}" href="../../static/css/responsive.css">
</head>

<body>
  <div class="app-layout">
    <div th:replace="~{fragments/app-shell :: sidebar(active='social')}"></div>

    <div class="app-main">
      <div th:replace="~{fragments/app-shell :: topbar(pageTitle='Community')}"></div>

      <main class="app-content">
        <h2 class="serif social-title">Social</h2>

        <div class="social-tabs" data-tab-group="social-tabs">
          <a href="#" class="js-tab active" data-target="feed-tutti">
            Tutti
          </a>

          <a href="#" class="js-tab" data-target="feed-mio-segno">
            Il mio segno
          </a>

          <a href="#" class="js-tab" data-target="feed-seguiti">
            Seguiti
          </a>
        </div>

        <div id="feed-tutti" class="js-tab-panel" th:insert="~{fragments/social-fragments :: social-post-list(
               posts=${feed}, currentUsername=${currentUsername},
               emptyMessage='Non ci sono ancora post da mostrare.'
             )}">
        </div>

        <div id="feed-mio-segno" class="js-tab-panel is-hidden" th:insert="~{fragments/social-fragments :: social-post-list(
               posts=${feedMioSegno}, currentUsername=${currentUsername},
               emptyMessage='Non ci sono ancora post del tuo stesso segno.'
             )}">
        </div>

        <div id="feed-seguiti" class="js-tab-panel is-hidden" th:insert="~{fragments/social-fragments :: social-post-list(
              posts=${feedSeguiti}, currentUsername=${currentUsername},
              emptyMessage='Non segui ancora nessun utente o non ci sono post.'
            )}">
        </div>
      </main>
    </div>
  </div>

  <script th:src="@{/js/main.js}" src="../../static/js/main.js"></script>
</body>

</html>