<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <title>Shop - Somnia Zodiaca</title>
</head>
<body>
<section>
    <h1>Shop</h1>
    <div th:if="${cosmetici != null}">
        <ul>
            <li th:each="cosmetico : ${cosmetici}">
                <strong th:text="${cosmetico.nome}"></strong>
                <p th:text="${cosmetico.descrizione}"></p>
                <p>Prezzo: <span th:text="${cosmetico.prezzoQi}"></span> QI</p>
            </li>
        </ul>
    </div>
    <div th:if="${cosmetici == null}">
        <p>Nessun cosmetico disponibile.</p>
    </div>
</section>
</body>
</html>
